.App {
    height: 100vh;
    /* width: 75vw; */
    /* border-radius: 5px;
    border: solid 1px black; */
}

.headingBar {
    background-color: #f3be26;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.app {
    width: 75vw;
    margin: 0 auto;
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.microphoneIcon {
    height: 30px;
    cursor: pointer;
}

.inputField {
    margin-top: 35px;
    outline: none;
    padding: 5px;
    width: 75%;
    border-radius: 5px;
    font: bold;
    font-size: 20px;
}

.microphoneIcon:hover {
    scale: 1.2;
    border: solid 1px black;
    border-radius: 3px;
    padding: 5px;
}
